extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot your password?

            p.ma-bt-lg.cta__text Enter your email address and we’ll send you a link to reset your password.

            form.form(action="/forgot-password" method="POST")
                .form__group
                    label.form__label(for="email") Your email address
                    input.form__input(type="email", name="email", placeholder="you@example.com", required)

                button.btn.btn--green(type="submit") Send reset link
