extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg= title
            p.ma-bt-lg.cta__text= message
            a.btn.btn--green(href='/login') Back to login
