extends base
include _reviewCard

block content
    .my-reviews-page
      - const isMyReviews = true;

        section.section-header
            .heading-box
                h1.heading-primary
                    span My Reviews

        section.section-reviews
            if reviews.length === 0
                .empty-state
                    svg.empty-state__icon
                        use(xlink:href='/img/icons.svg#icon-edit')
                    h3.empty-state__title You haven’t written any reviews yet
                    p.empty-state__text Share your thoughts and help others discover amazing tours.
                    a.btn.btn--green(href='/my-tours') Write your first review
            else
                .reviews
                  each review in reviews
                      +reviewCard(review, isMyReviews)

        // MODAL ONLY FOR EDITING
        div#review-modal.modal.hidden
            .modal__content
                button.modal__close(type="button") &times;
                h2.modal__title.heading-secondary Edit your review

                form#review-form
                    .form__group
                        label.form__label(for="review") Your review
                        textarea.form__input(name="review" id="reviewText" required)

                    .form__group
                        label.form__label(for="rating") Rating
                        select.form__input(name="rating" id="reviewRating" required)
                            option(value="5" selected) 5
                            option(value="4") 4
                            option(value="3") 3
                            option(value="2") 2
                            option(value="1") 1

                    button#reviewSubmitBtn.btn.btn--green(type="submit") Save changes

            div.modal__overlay
